extends layout_home

block title
  title #{title}

block content
  each item in data
    .col-lg-3.col-sm-6.videoitem
      .b-video
        .v-img
          a(href=item.url)
            img(src=item.image, alt='')
          .time #{item.durasi}
        .v-desc
          a(href=item.url) #{item.shortname}
        .v-views
          | #{item.detailView[1]}. 